.navbar{
    height: 17vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.nav-left{
    height: 15vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 20px;
    
}
.nav-left img{
    height: 60px;
    margin-left: 20px;
    
}
.nav-right{
    height: 15vh;
    width: 60%;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: space-around;
}
.nav-right button{
    height: 50px;
    width: 160px;
    margin-left: 20px;
    cursor: pointer;
}
.nav-right div{
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
}
.nav-right div:hover{
    border-bottom: 2px solid #ff008c;
}
.nav-right button:hover{
    border: none;
    background-color: #ff008c;
    /* transform: translateY(-2px); */
    z-index: -10px;
    transition: all ease-in-out .2s;
}