.slider{
    height: 80vh;
    width: 100%;
 
}
.slider img{
    height: 80vh;
    width: 100%;
}
.slider .prev-btn, .next-btn{
    border: 1px solid;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    color: grey;
    cursor: pointer;
    position: absolute;
    top: 330px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .prev-btn:hover, .next-btn:hover{
    color: white;
    background-color: #f9004d;
    border:none;
    transition: all ease-in-out .4s;
}

.slider .prev-btn:focus, .next-btn:focus{
    color: transparent;
    background: transparent;
    transition: all ease-out 1.5s;
}
.slider .prev-btn:hover{
    transform: translateX(-15px);
}
.slider .next-btn:hover{
    transform: translateX(15px);
}
.slider .prev-btn{
    left: 20px;
}
.slider .next-btn{
    right: 20px;
}

